<div class="root">
  <div class="navbar has-background-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Benify</h1>
      </div>
    </div>
  </div>
  <div class="board">
    <div class="board-bar">
      <h2 class="board-name">Kanban Board</h2>
      <button mat-raised-button color="primary" (click)="openDialog()">
        Create New
      </button>
    </div>
    <div class="board-wrapper">
      <div class="board-columns">
        <div class="board-column">
          <div class="column-title">To Do</div>
          <mat-card
            *ngFor="let card of todoList$ | async"
            class="task"
            mat-button
            [matMenuTriggerFor]="todoMenu"
          >
            {{ card.text }}
            <mat-menu #todoMenu="matMenu">
              <button mat-menu-item (click)="moveToDoing(card.id)">
                Doing
              </button>
              <button mat-menu-item (click)="moveToDone(card.id)">Done</button>
            </mat-menu>
          </mat-card>
        </div>

        <div class="board-column">
          <div class="column-title">Doing</div>
          <mat-card
            *ngFor="let card of doingList$ | async"
            class="task"
            mat-button
            [matMenuTriggerFor]="doingMenu"
          >
            {{ card.text }}
            <mat-menu #doingMenu="matMenu">
              <button mat-menu-item (click)="moveToDone(card.id)">Done</button>
              <button mat-menu-item (click)="moveToTodo(card.id)">To Do</button>
            </mat-menu>
          </mat-card>
        </div>

        <div class="board-column">
          <div class="column-title">Done</div>
          <mat-card
            *ngFor="let card of doneList$ | async"
            class="task"
            mat-button
            [matMenuTriggerFor]="doneMenu"
          >
            {{ card.text }}
            <mat-menu #doneMenu="matMenu">
              <button mat-menu-item (click)="moveToTodo(card.id)">To Do</button>
              <button mat-menu-item (click)="moveToDoing(card.id)">
                Doing
              </button>
            </mat-menu>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
